.container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.subtitle {
    font-weight: 500;
    font-size: 20px;
    color: var(--mantine-color-gray-7);
}