.card {
    position: relative;
    overflow: visible;
    padding: var(--mantine-spacing-sm);
    min-width: 120px;
    border: 1px solid var(--mantine-color-gray-1);
  }
  
  .title {
    line-height: 1;
    padding-top: 10px;
    color: var(--mantine-color-gray-9);

  }
  .subtitle {
    line-height: 1;
    color: var(--mantine-color-gray-6);
  }